body {
	margin: 0;
	background-color: rgb(218, 218, 218);
	color: rgb(44, 44, 44);
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: auto;
}

canvas {
	display: block;
}

.glcanvas {
	outline: none;
}

.sidediv {
	margin: auto;
	display: flex;
}

.ctrltxt {
	margin: auto;
}

#pageBlocks {
	display: flex;
}

.panel {
	padding: 0 18px;
	background-color: rgb(139, 139, 139);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

/* The flat button that is clicked to be expanded*/
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
  }
  
.active, .accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}
